{% extends "base.html" %}


{% block js %}
<script type="text/javascript">
init("About","about");
</script>
{% endblock %}

{% block content %}

<p>有啥好写的。</p>

<p>技术细节： <br>
后端：Python 3 + Flask + MongoDB （没做到MVC） <br>
前端：Bootstrap + jQuery/Javascript混用（不用前端框架的原因：不会） <br>
尽量少用第三方库，但因为我javascript菜+有的库确实自己不会写。使用的第三方库有： <br>
1.  <a href="https://github.com/mpdavis/python-jose/">Python-jose</a> <br>
2.  <a href="https://github.com/NextStepWebs/simplemde-markdown-editor">SimpleMDE</a>（一个js写的Markdown编辑器） <br>
3.  <a href="https://github.com/js-cookie/js-cookie">js.cookie.js</a>（操作Cookie的。没想到Javascript操作Cookies这么恶心） <br>
4.  <a href="https://highlightjs.org/">highlight.js</a>（用于代码高亮） <br>
5.  <a href="https://github.com/trentm/python-markdown2">markdown2</a>（Python3的转换Markdown到HTML的库） <br>
6. to be added</p>

<p>服务器暂时放在DigitalOcean。Github学生包送的50刀用10个月应该没问题。 <br>
域名用”臭名昭著“的.tk，虽然域名现在不贵但不想买。免费的怎么就不能用了？</p>

<p>想转坑ASP.NET Core及微软技术栈。鬼知道什么时候转。</p>

<p>这个版本虽然有登录，但评论等功能还没做好。所以注册了也没什么用。</p>
<p>最近可能要沉迷于C、DLX、微积分和离散数学了，还有各种各样论文，不知道会不会更新</p>

<p>南大软院弱鸡 <br>
写于2016-11-30</p>
{% endblock %}
