<!DOCTYPE html>

<html>

<head>
	<title>VicBlog</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/js.cookie.js') }}"></script>
	<script src="{{ url_for('static', filename='js/login.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common.js') }}"></script>
	{% block js %} {% endblock %}
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a style="padding-top: 0;" class="navbar-brand" href="/">
					<img alt="index" src="{{ url_for('static', filename='img/logo.jpg') }}"/>
				</a>
			</div>
			<ul class="nav navbar-nav navbar-left">
				<li id="tab_home">
					<a href="/">Home</a>
				</li>
				<li id="tab_articles">
					<a href="/articles">Articles</a>
				</li>
				<li id="tab_about">
					<a href="/about">About</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if g.user %}
				<li class="dropdown" id="logged_in">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Welcome, {{g.user.username}}
							<span class="caret"></span>
						</a>
					<ul class="dropdown-menu" role="menu">
						{% if g.user.role=="admin" %}
						<li><a href="/compose">Compose an article</a></li>
						<li class="divider"></li>
						{% endif %}
						<li><a href="javascript:logout();">Log out</a></li>
					</ul>
				</li>
				{% else %}
				<li class="dropdown" id="not_logged_in">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Login
							<span class="caret"></span>
						</a>
					<ul class="dropdown-menu" role="menu">

						<form class="navbar-form" action="/login" method="POST" target="_self" id="form_login">
							<p style="display: none; " class="alert alert-danger" role="alert" id="warning">233</p>
							<div class="form-group">
								<input id="form_user" class="form-control" name="form_user" placeholder="Username" oninput="login_clear();" />
								<input id="form_password" class="form-control" name="form_password" type="password" placeholder="Password" oninput="login_clear();"/>
							</div>
							<a class="btn btn-primary" onclick="login();" id="btn_login">Login</a>
							<a class="btn btn-default" href="/register">Register</a>
						</form>
					</ul>
				</li>
				{% endif %}
			</ul>
	</nav>
	<div class="container">
		{% block content %} {% endblock %}
	</div>
	<hr>
	<div class="container">
		<footer class="footer">
			<div class="contaner">
				<p style="text-align: center;">Developed by <a href="https://github.com/viccrubs/">viccrubs</a></p>
			</div>
		</footer>
	</div>

</body>

</html>