{% extends "base.html" %} 
{% block title %}
<title>Compose</title>
{% endblock %} 
{% block js %}
<link rel="stylesheet" href="static/css/simplemde.min.css" />
<link rel="stylesheet" href="static/css/highlight.default.min.css" />
<link rel="stylesheet" href="static/css/font-awesome.min.css" />
<script src="static/js/highlight.min.js"></script>
<script src="static/js/simplemde.min.js"></script>
<script src="static/js/upload.js"></script> 
{% endblock %} 
{% block content %}
<div class="container">
    <p>You have loggged in as {{ g.user.username }}. Not? <a href="/logout">Click here to log out.</a></p>
    <hr/>
    <textarea id="editor">
    </textarea>
    <div class="container" id="img_update">
        <button class="btn btn-default" data-toggle="modal" data-target="#img_upload_modal">
            Upload images
        </button>
        <p>File Uploaded</p>
        <div class="container" id="files">
            
        </div>
    </div>

    <hr>
    <button class="btn btn-default">Submit</button>
</div>

<div class="modal fade" id="img_upload_modal" role="dialog" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Upload images</h4>
            </div>
            <div class="modal-body">
                <p>Choose your pictures: </p>
                <form name="form_img_upload" id="form_img_upload" enctype="multipart/form-data">
                    <input type="file" name="img_upload" id="img_upload_selector" multiple="multiple" />
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="btn-confirm" onclick="img_upload()">Confirm</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>
</div>
<script type="text/javascript">
    var simplemde = new SimpleMDE({ 
        autoDownloadFontAwesome : false, 
        element: document.getElementById("editor"),
        renderingConfig: {
             codeSyntaxHighlighting: true,
        },
     });
</script> {% endblock %}